<div id="tournaments">
  <div class="container" [ngClass]="{ 'form-open': isFormOpen, 'blur-content': isDialogueOpen}">
    <aside>
      <img src="/assets/pickwhite.svg">
      <ul>
        <section [ngStyle]="{ top: highlighterTop + 'px' }">
          <span></span>
        </section>
        <li
          *ngFor="let game of games; let i = index"
          [ngClass]="{ active: activeGame == game }"
          (click)="onToggleGame(game, i)"
        >
          {{ game.name }}
        </li>
      </ul>
    </aside>
    <div class="data">
      <div class="table">
        <div class="header">
          <section class="size">Grösse</section>
          <section class="team">Teamname</section>
          <section class="members">Mitglieder</section>
          <button (click)="toggleTeamCreator()" [disabled]="currentUserInAnyTeam()" *ngIf="!authentiationService.isReadonly">Team erstellen</button>
        </div>
        <div class="item" *ngFor="let team of teams">
          <section class="size">
            {{ team.users.length }}/{{ team.requiredTeamSize }}
          </section>
          <section class="team">
            {{ team.teamName }}
          </section>
          <section class="members">
            {{ getTeamMembers(team) }}
          </section>
          <section class="options">
            <button [disabled]="team.users.length === team.requiredTeamSize || currentUserInAnyTeam()" (click)="toggleDialogue(team)" *ngIf="!isInTeam(team) && !authentiationService.isReadonly">
              Beitreten
            </button>
            <button *ngIf="isInTeam(team) && !authentiationService.isReadonly" (click)="onLeaveTeam(team)" class="error">
              Verlassen
            </button>
            <i *ngIf="!team.passwordProtected" class="fas fa-lock-open"></i>
            <i *ngIf="team.passwordProtected" class="fas fa-lock pw"></i>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="form" [ngClass]="{ 'form-container-open': isFormOpen }">
    <div class="team-creator-close" (click)="toggleTeamCreator()">
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <h3>Team erstellen</h3>
    <div class="loader-container" *ngIf="isFormLoading">
      <div class="loader"></div>
    </div>
    <div *ngIf="!isFormLoading">
      <section>
        <app-input
          title="Teamname"
          placeholder="#Zerstörer69"
          [(value)]="teamName"
        ></app-input>
      </section>
      <section>
        <app-input
          title="Ingame-Name"
          placeholder="#Zerstörer420"
          [(value)]="ingameName"
        ></app-input>
      </section>
      <section *ngIf="activeGame && activeGame.length > 1">
        <app-input
          title="Passwort (optional)"
          placeholder="#Zerstörer69"
          type="password"
          [(value)]="password"
        ></app-input>
      </section>
      <button (click)="onCreateTeam()">Team erstellen</button>
    </div>
  </div>
  <div id="overlay" *ngIf="isDialogueOpen" (click)="onCancelClick($event)">
    <div class="box">
      <div class="data" *ngIf="!isLoading">
          <div class="input">
              <app-input title="Ingame-Name" placeholder="TheMachine420" name="username" [(value)]="ingameName"></app-input>
          </div>
          <div class="input" *ngIf="currentParticipation.passwordProtected">
              <app-input title="Passwort" placeholder="Team-Password" type="password" name="password" [(value)]="password"></app-input>
          </div>
          <div class="error" *ngIf="error">
              <span>
                  {{ error }}
              </span>
          </div>
          <button (click)="onJoinTeam()">
              Beitreten
          </button>
      </div>
      <div class="loader-container" *ngIf="isLoading">
          <div class="loader"></div>
      </div>
      <div class="go-register" *ngIf="!isLoading">
          <span [routerLink]="'/register'">
              Hier geht’s zur Registrierung
          </span>
      </div>
  </div>
  </div>
</div>
