@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap')

pri = #33CCC3
sec = #0DA99F
dark = #2B2B2B
medium = #646A6C
light = #EEF6F9
error = #e92e2e
errorDark = #c40e0e;
success = #2cd756

*
    font-family 'Oxanium'
    box-sizing border-box
    outline none

i
    font-family 'Font Awesome 5 Free'

html,
body
    width 100%
    height 100%
    padding 0px
    margin 0px
    overflow-x hidden

button
    padding 22px 20px 20px 20px
    background pri
    color white
    cursor pointer
    font-size 24px
    border none
    text-transform uppercase
    border-bottom solid 5px sec
    font-weight 600
    transition all 400ms
    
    &:hover,
    &:focus
        transform translateY(-4px)
        opacity .95

    &:disabled
        opacity .6
        cursor not-allowed

        &:hover
            transform none

.with-glow:hover,
.with-glow:focus
    box-shadow 3px 3px 50px 20px rgba(51, 204, 195, .5)

.error
    background error
    border-bottom-color errorDark

.loader 
  border 8px solid white
  border-top 8px solid pri
  border-radius 50%
  width 80px
  height 80px
  animation spin 1s linear infinite


@keyframes spin 
  0%
      transform rotate(0deg) 
  100%
    transform rotate(360deg) 
